/* define color palette */
/* https://coolors.co/212d30-ddf8ef-aecdcd-7ea2aa-51727b */
:root {
	--primary: #AECDCD;
	--text: #DDF8EF;
	--bg: #212D30;
	--titles: #7EA2AA;
	--hover: #51727B;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  font: 18px Monaco, monospace, Courier;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
	color: var(--titles);
}

h1 {
	text-align: left;
	color: var(--titles);
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dashed var(--text);
}

h2 {
	text-align: left;
	padding: 1em 0em;
	border-bottom: 1px solid var(--text);
	margin-bottom: 1em;
}

u {
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid var(--text);
}

u:hover {
	border-bottom: 1px solid var(--hover);
}

p {
  margin: 1em 0;
}

a {
	text-decoration: none;	
  color: var(--text);
}

a:hover {
  color: var(--hover);
}

table {
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.description {
	text-align: left;

	color: var(--text);
	margin-bottom: 2em;
}

ul.posts {
  list-style-type: none;
	color: var(--text);
  margin-bottom: 2em;
}

  ul.posts li {
		line-height: 2.25em;
  }

  ul.posts span {
    font-family: monospace, Courier;
		font-style: italic;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid var(--text);
	padding: 1em 0em;
  margin-bottom: 2em;
}

  .site .title a {
    color: var(--primary);
    text-decoration: none;
  }

  .site .title a:hover {
    color: var(--hover);
  }

	.site .title a:link {
		color: var(--primary);
	}

  .site .title a.extra {
    color: var(--titles);
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: var(--hover);
  }

	.site .title a.extra:link {
		color: var(--primary);
	}

  .site .meta {
    color: var(--text);
  }

  .site .footer {
    color: var(--primary);
    border-top: 1px solid var(--text);
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
	color: var(--text);
}

  /* standard */

  #post pre {
		margin-top: 1em;
		margin-bottom: 1em;
    border: 1px solid var(--text);
    background-color: var(--bg);
    padding: 0 0.4em;
	white-space: pre-wrap; // preserve whitespace, the text is wrapped
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    background-color: var(--bg);
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 2px solid black;
    background-color: #333;
    color: black;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
}

  #related h2 {
    margin-bottom: 1em;
  }
