---
layout: default
title: pablo peñarroja millán
---

<div id="home">
	<h1>projects</h1>
	<ul class="posts">
		<li><u><a class="link" href="https://github.com/soybin/idyll">idyll</a></u> — fractal engine</li>
		<li><u><a href="https://github.com/soybin/vaaac">vaaac</a></u> — very awesome arm angle calculation library</li>
		<li><u><a href="https://github.com/soybin/cvgo">cv:go</a></u> — implementation of vaaac in cs:go</li>
	</ul>
	<h1>articles</h1>
  <ul class="posts">
    {% for post in site.categories.articles %}
		<li><span> {{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}"><u>{{ post.title }}</u></a> </li>
    {% endfor %}
  </ul>
  <!---<h4>thoughts</h4>
  <ul class="posts">
    {% for post in site.categories.thoughts %}
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}"><u>{{ post.title }}</u></a></li>
    {% endfor %}
		<li><a href="https://www.archlinux.org/">arch</a> — i couldn't ask for less</li>
		<li><a href="https://github.com/i3/i3">i3</a> — bring them tiles</li>
    <li><a href="https://github.com/vim/vim">vim</a> — quality of life enhancer</li>
		<li><a href="https://github.com/asciimoo/searx">searx</a> — honest information</li>
	</ul>--->
</div>
